.expander {
  border-left: solid 2px #ccc;
  position: absolute;
  right: 0;
  top: 0;
  padding: 16px;
}

.caret {
  transition: transform 0.3s;
  display: inline-block;
}

.flip {
  transform: rotate3d(1, 0, 0, 180deg);
}

ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  padding: 8px 0;
  border: 1px solid #ccc;
  color: black;
  z-index: 1;
  list-style-type: none;
  border-radius: 4px;
}
li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 4px 12px;
  &:hover {
    background: #f0f0f0;
  }
}
img {
  width: 32px;
  border-radius: 50%;
  margin-left: 8px;
  &[src*="svg"] {
    width: 48px;
    margin-left: 0;
  }
}

small {
  display: block;
  margin-bottom: 8px
}

.disabled {
  pointer-events: none;
  cursor: default;
}